; vim: set fileencoding=utf-8 :
; Thu 11 Aug 09:55:30 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.math
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts